---
import Slide from "../components/Slide.astro";
import EmptyLayout from "../layouts/EmptyLayout.astro";
import { Image } from 'astro:assets';
import astroIslands from '../../public/img/astro-islands.png'

const titulos = [
  "Renderizado de Islas (Island Architecture)",
  "Importaci칩n de Componentes bajo Demanda",
  "Agnostico a los frameworks",
  "Renderizado en el Servidor (SSR)",
  "Optimizaci칩n Autom치tica de Recursos",
  "Zero Client-side JavaScript por Defecto",
  "Soporte para TypeScript",
  "Integraci칩n con Herramientas de Desarrollo"
];
---

<EmptyLayout>
  <Slide>
    <div slot="title">Arquitectura y Principios Clave</div>
    <div slot="content" class=" w-5/6 h-4/6 flex gap-6 justify-center items-start">
      <ul class=" w-1/3 flex flex-col gap-5 text-left">
        {titulos.map((titulo, index) => (
          <li>{index + 1}. {titulo}</li>
        ))}
      </ul>
      <Image src={astroIslands} alt="astro islands" class=" h-2/3 w-auto"/>
    </div>
  </Slide>
</EmptyLayout>
