---
import Slide from "../components/Slide.astro";
import EmptyLayout from "../layouts/EmptyLayout.astro";
import { Image } from 'astro:assets';
import sponsors from '../../public/img/astro-sponsors.png'
import starsAstro from '../../public/img/2023-JavaScript-Rising-Stars.png'
---

<EmptyLayout>
  <Slide>
    <div slot="title">Comunidad y Ecosistema</div>
    <div slot="content" class=" flex gap-6 w-4/5">
      <Image src={sponsors} alt="sponsors" class=" w-2/3 h-auto object-contain"/>
      <Image src={starsAstro} alt="stars" class=" w-1/3 h-auto object-contain"/>
    </div>
  </Slide>
</EmptyLayout>