---
import EmptyLayout from '../layouts/EmptyLayout.astro'
import Slide from '../components/Slide.astro';
import { Image } from 'astro:assets';
import innocvLogo from '../../public/img/innocv-logo.svg'
import astroLogo from '../../public/img/astro-logo-dark.svg'
---
<EmptyLayout>
  <Slide hideImage={true}>
    <div slot="content" class=" flex flex-col gap-5 relative" style="top: -60px;">
      <div class=" w-full flex gap-7">
        <Image src={innocvLogo} alt='innocv'/>
        <Image src={astroLogo} alt='innocv'/>
      </div>
      <h1 class=" text-7xl"><b>Descubriendo Astro.js</b></h1>
      <p class=" text-4xl">Construyendo Sitios Web Rápidos y Eficientes</p>
    </div>
  </Slide>  
</EmptyLayout>