---
import EmptyLayout from "../layouts/EmptyLayout.astro";
import Slide from "../components/Slide.astro";
// Componente IndiceDiapositivas.astro
const diapositivas = [
    "Introducción a Astro",
    "Arquitectura y Principios Clave",
    "Desarrollo con Astro",
    "Casos de Uso y Ejemplos Prácticos",
    "Comunidad y Ecosistema",
    "Preguntas y Respuestas"
];
---

<EmptyLayout>
    <Slide>
        <h2 slot="title">Índice</h2>
        <ul slot="content">
            {diapositivas.map((diapositiva, index) => (
                <li>
                    <div class=" mr-2">{diapositiva} </div>
                    <div class="dotted"></div>
                    <div class=" ml-2">{index + 1}</div>
                </li>
            ))}
        </ul>
    </Slide>
</EmptyLayout>


<style>
li {
    margin-bottom: 20px;
    display: flex;
    width: 600px;
    font-size: 20px;
}
.dotted {
    flex-grow: 1;
    border-bottom: 2px dotted;
    position: relative;
    top: -5px
}
</style>
