---
import Slide from "../components/Slide.astro";
import EmptyLayout from "../layouts/EmptyLayout.astro";
---

<EmptyLayout>
  <Slide>
    <div slot="title">Introducción a Astro</div>
    <div slot="content">
      <p>Astro es un moderno framework para la construcción de sitios web estáticos y dinámicos. Su enfoque permite una renderización eficiente del lado del servidor y una entrega óptima del cliente, lo que resulta en sitios web rápidos y altamente optimizados.</p>
      <p>Con Astro, puedes escribir tus componentes usando tu framework favorito (React, Vue, Svelte, etc.) o incluso sin ningún framework, lo que ofrece una gran flexibilidad y potencia para los desarrolladores web.</p>
    </div>
  </Slide>
</EmptyLayout>
