---
import Slide from "../components/Slide.astro";
import EmptyLayout from "../layouts/EmptyLayout.astro";
---

<EmptyLayout>
  <Slide>
    <div slot="title">Preguntas y Respuestas</div>
    <div slot="content">
      <div class=" text-3xl">¿Tienes alguna duda?</div>
    </div>
  </Slide>
</EmptyLayout>