---
import { Image } from 'astro:assets';
import astroLogo from '../../public/img/astro-icon-dark.svg'
import innocvLogo from "../../public/img/innocv-logo.svg"
import heartLogo from "../../public/img/plus.svg"
---

<div class="slide relative">
  {
    Astro.slots.title &&
    (
    <div class="header">
      <Image src={astroLogo} alt="Descripción de la imagen" />
      <slot name="title"></slot>
    </div>
    )
  }
  <div class="content">
    <slot name="content">Contenido por defecto</slot>
  </div>
  {
    !Astro.props.hideImage && (
      <Image class="innocv" src={innocvLogo} alt="Descripción de la imagen" />
    )
  }
  
</div>

<style>
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    padding-top: 20px; /* Margen superior de 10px */
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header img {
    height: 70px;
    max-width: 130px;
    margin-right: 20px;
  }

  .innocv {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .content {
    /* Centra el contenido vertical y horizontalmente en el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1; /* Ocupa todo el espacio restante */
    width: 100%; /* Ocupa todo el ancho */
  }
</style>
