---
import { ViewTransitions } from 'astro:transitions';
import Number from '../components/Number.vue';
---

<head>
  <title>Astro-demo</title>
  <meta charset="UTF-8">
  <ViewTransitions />
</head>

<body class="relative">
  <div class="hidden lg:block">
    <main>
      <slot />
    </main>
    <footer class="absolute left-1/2 transform -translate-x-1/2">
      <Number transition:persist client:load/>
    </footer>
  </div>
  <div class=" flex lg:hidden text-center h-screen w-screen">
    <div class=" m-auto text-7xl">Por favor, utiliza una pantalla más grande para una mejor experiencia.</div>
  </div>
</body>

<style> 
  body {
    all: unset;
  }

  /* Estilo general del scrollbar */
  html::-webkit-scrollbar {
      width: 10px;
  }

  /* Estilo del track (pista) del scrollbar */
  html::-webkit-scrollbar-track {
      background: transparent;
  }

  footer {
    top: 95vh;
  }
</style>
